body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(19, 19, 79);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    padding: 1vw;
}
.page_title{
    font-size: 2em;
}
.page_title > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#query{
    font-size: 1.5em;
    width: 100%;
}
.thumbnail{
    width: 100%;
}
.card{
    width: 20%;
    padding: 20px;
    text-align: center;
    background-color: rgb(88, 42, 255);
    margin: 10px;
}
.card > h3{
    font-size: 1.5em;
    color: white;
}

#section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}